body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #eeeeee;
}

a {
    color: #00B7FF;
}

.navbar {
    background-color: #337ab7;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 20pt;
}

.navbar-inverse .navbar-brand:hover {
    color: #ddd;
}

.event-header h3, span {
    display: inline;
    margin-top: 0;
}

.event-header {
    margin-top: 0;
    margin-bottom: 10px;
}

.attendingButton {
    margin-right: 0;
    margin-top: 0;
    float: right;
}

.event {
    background-color: #ffffff;
    padding: 1em 1em 1em 1em;
    margin-top: 1em;
}

.user img {
    margin-bottom: 5px;
}
.user span {
    margin-left: 20px;
}
.user .star {
    float: right;
    font-size: 20pt;
    color: #f39c12;
}

.grn {
    color:#27ae60;
}
.rd {
    color:#c0392b;
}
.org {
    color: #f39c12;
    font-weight: 500;
}

.gray-event {
    background-color: #ddd;
}