body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #eeeeee;
}

a {
    color: #00B7FF;
}

.navbar {
    background-color: #337ab7;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.col-md-4 {
    margin: 15px;
    width: 30%;
}

.event-header h2, span {
    display: inline;
}

.event-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.attendingButton {
    margin-right: 30px;
    margin-top: 5px;
    float: right;
}

.event {
    background-color: #ffffff;
}

.user img {
    margin-bottom: 5px;
}
.user span {
    margin-left: 20px;
}
.user .star {
    float: right;
}
